body{
    margin: 0;
    background: black;
    min-height: 100%;
}

div.page{
    width: 80%;
    min-height: 100vh;
    background: white;
    margin: 0 auto;
    padding: 1rem;
}

h1, h2{
    text-align: center;
}

.page a{
    color: blue
}

.num{
    background-color: rgb(147, 149, 151);
    padding: .3rem;
    border-radius: 8px;
    display: inline-block;
    margin-right: .5rem;
}
li::before{
    content: "—";
    font-weight: bold;
    font-size: 20px;
    margin-right: .5rem;
}
/*
.video-offerta{
    display: flex;
    background-color: white;
    justify-content: center;
}

.video-offerta iframe{
    width: 80%;
    min-height: 200px;
    margin: 1rem 0;
}
*/

@media (max-width:600px){
    div.page{
        width: 100%;
    }
}
