html {
    font-size: 20px;
    --white: #fff;
    --title-black: #040D21;
    --text-black: #000;
    --beruza: #41CCEA
}

body {
    margin: 0;
    background-color: var(--white);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-image: url("../image/bg1.png");
    background-size: contain;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

body * {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    
}

/*header*/
#header {
    min-height: 70px;
    height: 5vh;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo {
    font-size: 2rem;
    color: var(--white);
    text-decoration: none;
}

header {
    overflow: hidden;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    position: relative;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--white);
}

.header .nav {
    z-index: 16;
    color: white;
    width: 350px;
    background-color: #2E2E33;
    position: absolute;
    right: 0;
    top: 100%;
    height: 0;
    overflow: hidden;
}

.height-auto {
    height: auto !important;
    padding: 1rem !important;
}



.nav a {
    text-decoration: none;
    color: var(--white);
    display: block;
    padding: 1rem 0;
    border-top: 1px solid #2E2E33;
    border-bottom: 1px solid #2E2E33;
}

.nav a:hover {
    border-top: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
}

.indecators {
    display: flex;
    cursor: pointer;
}

.indecators>* {
    display: flex;
}

.indecators img {
    width: 50%;
}

.indecators span {
    font-size: 50px;
}

.lang {
    background-color: #2E2E33;
    z-index: 15;
    position: absolute;
    right: 0;
    top: 100%;
    overflow: hidden;
    height: 0;
}

.lang a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 1rem .5rem;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    height: 0;
    overflow: hidden;
    padding: .7rem;
}

.lang a:hover {
    border-top: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
}

.contact {
    z-index: 14;
    position: absolute;
    right: 0;
    top: 100%;
    overflow: hidden;
}

.contact li {
    padding: .4rem 0;
}


#head {
    color: var(--white);
    margin-top: 60px;
    font-weight: 700;
}

.head-title {
    font-size: 3.2rem;
    width: 60%;
    margin: 0;
    padding: 0;
    margin-bottom: 17vh;
}

.head-subtitle {
    font-size: 1.5rem;
    text-align: right;
    font-weight: 600;
}

#scroll-menu {
    height: 300px;
    margin: 10px 0;
}


/**/

video, .about iframe  {
    width: 100%;
    max-height: 100%;
    position: relative;
    z-index: 1;
}

.right,
.left {
    display: flex;
    gap: 2rem;
    padding-bottom: 2rem;
}

.right {
    flex-direction: row-reverse;
}

.right>div,
.left>div {
    width: 50%;
    min-height: 300px;
    text-align: justify;
}

.right h2,
.left h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--title-black);
    margin-top: 0;
    text-align: left;
}

.information img {
    max-height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.information .pictures {
    display: flex;
    align-items: center;
}

.information a.btn{
    text-decoration: none;
    border: 5px solid white;
    background-color: var(--title-black);
    color: var(--white);
    width: 70%;
    display: block;
    margin: 0 auto;
    padding: 1rem 0;
    border-radius: 16px;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.2rem;
    transition: border .6s ease;
    letter-spacing: 1px;
    text-align: center;
}

.information button:hover {
    border: 5px solid rgba(4, 13, 33, 0.317);
}

#project a {
    color: blue;
}

footer {
    background-color: #040D21;
}

.footer {
    color: var(--white);
    display: flex;
    justify-content: space-between;
    min-height: 200px;
    align-items: center;
}
.footer > *{
    padding-bottom: .5rem;
}

#scroll-menu {
    display: grid;
    grid-template-columns: repeat(7, 300px);
    gap: 3rem;
    transition: all 1s;
    position: relative;
    height: 150px;
    margin: 5rem 0;
}

.card {
    border: 2px solid #41CCEA;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    position: relative;
    transition: all 1s linear;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, 0.7) 100%) !important;
}

.card-title {
    min-width: 140px;
    background-color: var(--white);
    color: var(--text-black);
    border-radius: 0 0 8px 8px;
    text-align: center;
    padding: .2rem;
}

.card-desc {
    flex-grow: 1;
    font-weight: 700;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main a{
    text-transform: uppercase;
}

/*calculate*/
.calculate {
    width: 100%;
    border: 1px solid var(--title-black);
    border-radius: .5rem;
    text-align: center;
    background-color: var(--white);
}

.calc-box {
    padding: 1rem 2rem;
    background-color: var(--text-black);
    border-radius: 8px;
}

.calc-title {
    font-size: 1.1rem;
    font-weight: bold;
    padding-top: .5rem;
}

.input-calc input {
    padding: .7rem .5rem;
    margin: .5rem 0;
    box-sizing: border-box;
    color: green;
    width: 100%;
    font-size: 1rem;
    box-shadow: inset 3px 4px 3px rgba(0, 0, 0, .2);
    border:1px solid black;
    border-radius:8px;
   
}

.table-calc,
td, .pod {
    border: 1px solid var(--title-black);
    background-color: var(--white);
}

.table-calc{
    border-collapse: collapse;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.table-calc td {
    width: 50%;
    padding: .3rem;
    box-sizing: border-box;
}

.progress-outer{
   display: flex;
   justify-content: center;
}
/*Progress*/
  
  .card-progress {
    width: 300px;
    height: 300px;
    color: black;
    text-align: center;
  }
  
  #containerProgress {
    width: 200px;
    height: 130px;
    margin: 0 auto;
  }
  
  .description-progress {
    margin-top: 2rem;
    text-align: center;
  }
  
  .progressbar__label {
    font-size: 2.5rem;
    transform: translate(-50%, 0) !important;
  }
  
  svg {
    height: 130px;
    width: 200px;
    fill: none;
    stroke: #fafafa;
    stroke-width: 15;
    stroke-linecap: round;
    filter: drop-shadow(-3px -2px 5px rgba(255, 255, 255, 0.5));
  }
  

@-webkit-keyframes animate-positive{
    0% { width: 0%; }
}
@keyframes animate-positive {
    0% { width: 0%; }
}


@media (min-width:1400px) {
    .container {
        max-width: 1350px;
    }
}

@media (max-width:1300px) {
    .container {
        max-width: 990px;
    }

    .head-title {
        margin-bottom: 3vh;
        width: 100%;
    }

    #scroll-menu {
        height: auto;
        margin: 3rem 0;
    }

    .card {
        height: 110px;
    }
}

@media (max-width:992px) {
    .container {
        max-width: 700px;
    }

    #scroll-menu {
        padding: 1rem 0;
    }
}

@media (max-width:802px) {

    body{
        background-image: url("../image/bg-table.png");
    }
    .container{
        padding: 0 1rem;
    }
    .head-subtitle{
        padding-left: 15%;
        margin-top: 4rem;
        font-size: 2rem;
    }

    .left, .right{
        display: block;
    }

    .left > div, .right > div{
        width: 100%;
    }

    

}

@media (max-width:600px) {
    body {
        background-image: url("../image/bg-mod.png");
    }

    #header{
        height: 70px;
        min-height: 70px;
    }

    .contact{
        padding-right: 1rem;
    }

    .container {
        padding: 1rem;
    }
    .head{
        margin-top: 30px;
    }

    .head-title {
        font-size: 1.5rem;
        letter-spacing: 2px;
    }
    .head-subtitle{
        font-size: 1rem;
    }

    .left h2{
        text-align: left;
        font-size: 1.5rem;
    }
    .right h2{
        text-align: right;
        font-size: 1.5rem;
    }
    .card > *{
        font-size: 1rem !important;
    }

    .footer{
        display: block;
    }
    .footer > * {
        margin-bottom: 1rem;
    }
}

#about h2{
    text-shadow: -1px 0 var(--white), 0 1px var(--white), 1px 0 var(--white), 0 -1px var(--white);
}

.progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #007bff;
    transition: width 0.6s ease;
  }

  .progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
  }